<div class="tool">
    <button type="button" class="btn btn-primary" (click)="generate()"
      title="Generate a new GUID/UUID, and the shorted version.">Generate GUID</button>
    <div id="more-button">
      <i *ngIf="!slideDownVisible" class="fas fa-chevron-down fa-lg" title="More options..." (click)="toggleDropdown()"></i>
      <i *ngIf="slideDownVisible" class="fas fa-chevron-up fa-lg" title="More options..." (click)="toggleDropdown()"></i>
    </div>
  <div class="slide-down" *ngIf="slideDownVisible">
    <label for="numUuids">How many:</label>
    <input id="numUuids" type="number" value="1" [(ngModel)]="numUuids" (change)="validate()" title="How many UUIDs to generate">
    <input type="checkbox" id="generateShort" [(ngModel)]="generateShort">
    <label for="generateShort">Short</label>    
  </div>

  <div id="guids" #elGuids>
    <ul>
      <li *ngFor="let uuid of guids">
        <span (click)="copy(uuid)">{{uuid}}</span>
        <span *ngIf="generateShort" (click)="copy(getShort(uuid))"> ({{getShort(uuid)}})</span>
      </li>
    </ul>
    <i class="far fa-copy" (click)="copy()"></i>
    <i class="far fa-trash-alt" (click)="clear()" title="Clear"></i>
    <span [ngClass]="copiedClass">Copied</span>
  </div>
</div>

<div id="search-cf-div" class="tool">
  <h2>Search Confluence</h2>
  <input type="text" title="Search term" [(ngModel)]="searchTerm">
  <button type="button" class="btn btn-primary" (click)="searchConfluence()"
      title="Search Confluence.">Search Confluence</button>
</div>

<div id="scratch-div" class="tool">
  <h2>Scratch</h2>
  <button type="button" class="btn btn-primary" (click)="scratch()"
      title="Scratch">Scratch</button>
      <div>
        <br/>
        <textarea [(ngModel)]="theJson" style="width: 100%; height: 250px"></textarea>
      </div>
</div>