i {cursor: pointer}

.tool {
  border: 1px solid #DCDCDC;
  padding: 1em;
}

#more-button {
  float: right;
  padding-top: 15px
}

.slide-down {
  color: white;
  background-color: gray;
  margin-top: 0.5rem;
  padding: 0.75rem 0.25rem .5rem 0.75rem;
  font-size: 0.9rem;

  * {margin-right: 0.5rem; margin-bottom: 0.25rem;}

  input[type="checkbox"] {
    margin-right: 0.2rem
  }

  input[type="number"] {
    width: 3rem
  }
}

#guids {
  font-family: monospace;
  font-size: 1em;
  margin-top: 0.5rem
}

ul {
    list-style: none;
    padding-left: 0
}

.fade-out {
  font-size: 0.75rem;
  padding-left: 0.5rem;
  -webkit-animation: seconds 2.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  animation: seconds 2.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
  position: relative;      
}