/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";
@import "~bootstrap/scss/bootstrap.scss";

main, header, footer {padding: 1em}

// .tool * {
//     margin-right: 0.5em;
//     margin-bottom: 0.1rem
// }

.tool {
    border: 1px solid #DCDCDC;
    padding: 1em;
}

i {cursor: pointer}

#moreOptionsButton {
    float: right
}

#guids {
    font-family: monospace;
    font-size: 1em
}

.fa-clone {
    color: #696969
}

ul {
    list-style: none;
    padding-left: 0
}

.fade-out {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 1s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
    position: relative;      
  }
  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
      position: absolute;   
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;     
    }
  }